#padding {
	
	padding-top: 100px;
}

.book {

	display: none;
}

.book.active {

	display: block;
}

#endPage { 

  display: none;
}

.jumbotron {

  width: 50%;
  margin: auto; 
}

.grow img {

  height: 500px;
  width: 316px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {

  width: 500px;
  height: 316px;
}

.hover {

  color: #5bc0de;
}

#buttons {

  padding-top: 70px;
  text-align: center;
  padding-bottom: 100px; 
}

.TR_active {

  background-color: #A4A4A4 !important;
}

.odd_active {

  background-color: white;
}